body, h2, h3, p, .nav-main, ul {
    margin: 0;
    padding: 0;
}

h2, h3, p {
    font-size: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
    
}

.background {
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 2%;
    padding-bottom: 20%;
}


.navdiv{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    vertical-align: middle;
}

.nav-main{
    font-size: 5px;
    color: white;
    font-weight: bold;
    display: flex;
}

.nav-main li :hover {
    color: #A76D57;
}


.nav-name {
    color: white;
    font-size: 30px;
    padding-bottom: 1%;
}

.nav-main li{
    padding: 5px 6px;
    text-align: center;
    font-size: 2.8em;
}

.nav-main li:nth-child(9){
    padding-left: 3em;
    padding-right: 1em;
    font-size: 4em;
    padding-top: 0;
}

.nav-main li:nth-child(10){
    font-size: 4em;
    padding-top: 0;
}

/* nav  */

.main-box {
    /* background-color: orange; */
    width: 60%;
    padding-top: 16%;
    margin: auto;
    color: white;
    text-align: center;
}

.SubTitle{
    font-size: 1.5em;
    font-weight: normal;
}
.Title{
    font-size: 2em;
    font-weight: 800;
}

.main-box p {
    font-size: 0.5em;
}

.StartBtn{
    background-color: #9a8877;
    color: white;
    border: 2px;
    border-color: saddlebrown;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 10px;
    line-height: 3;
    box-shadow: #9a8877;
}


/* main */

.article {
    height: 200px;
}

.article-bar {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
}

.Art-Item {
    width: 300px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.Art-Item i {
    font-size: 1.5em;
}

.Art-Item h4 {
    margin: 0;
    padding-bottom: 10%;
}

.Art-Item p {
    font-size: 0.5em;
}

.Art-Item hr {
    color: #9F8A7D;
}

.Art-Item:hover h4, .Art-Item:hover i, .Art-Item:hover hr {
    color: #A76D57;
}

/* page1 */

.pagetwo {
    background-color: #fbfaf8;
}

.pagetwo-main {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 8%;
}

.pagetwo-main h2 {
    font-size: 2em;
    padding-bottom: 20px;
}

.pagetwo-main p {
    font-size: 1.2em;
}

.pagetwo-img {
    text-align: center;
    padding-top: 5%;
    margin-bottom: -4px;
}

.pagetwo-bottombar {
    height: 150px;
    background-color: #493125
}

.pagetwo-bottombar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.pagetwo-bottombar-text h2::before {
    content: "Waxom";
    color: wheat;
}

.pagetwo-bottombar-text h2{
    font-size: 1.7em;
    color: white;
}

.pagetwo-bottombar-text p {
    font-size: 1.2em;
    color: #908481;
}

.purchebtn {
    background-color: #9a8877;
    color: white;
    border: 2px;
    border-color: saddlebrown;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 30px;
    
}

/* pagetwo */

.pagethree-header {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 8%;
}

.pagethree-header h2 {
    font-size: 1.7em;
    padding-bottom: 16px;
}

.pagethree-header p {
    font-size: 1.1em;
    padding-bottom: 20px;
}

.pagethree-header-btn {
    width: 85%;
    
    justify-content: center;
}

.pagethree-header-btn ul {
    display: flex;
}

.pagethree-header-btn li {
    padding: 6px 20px;
    border-width: 0.6px;
    border-style: solid;
    border-radius: 3px;
    border-color: #A18884;
    margin: 0 10px;
    color: #A18884;
    font-weight: 500;
}

.pagethree-header-btn li:hover {
    color: white;
    background-color: #A18884;
}

.mainphoto {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    padding-top: 3%;
    text-align: center;
    
}

.photobox {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.photobox h3,.photobox p {
    text-align: left;
    padding-left: 30px;
    
}

.pagethree-main-photo1 {
    margin-bottom: 40px;
}

.pagethree-bottom {
    text-align: center;
    padding-top: 5%;
    
}

.pagethree-bottom-btn {
    background-color: #9a8877;
    color: white;
    border: 2px;
    border-color: saddlebrown;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
}

.photoimg {
    width: 270px;
    padding-bottom: 10px;
}

/* pagethree */

.pagefour-main {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    /* text-align: center; */
    
}

.pagefour-img {
    display: inline-block;
    padding-left: 10%;
}

.pagefour-text {
    display: inline-block;
    width: 40%;
    padding-left: 5%;
}

.pagefour-text h2 {
    font-size: 1.7em;
    padding-bottom: 20px;
}

.pagefour-text p {
    font-size: 1.1em;
}

.pagefour-text ul {
    padding-left: 70px;
}

.pagefour-footerbar {
    display: flex;
    background-color: #2f2928;
    height: 300px;
    
}

.pagefour-footerbar ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    
}

.pagefour-footerbar ul li{
    text-align: center;
    /* padding-left: 40px;
    padding-right: 40px; */
}

.pagefour-footerbar ul li i,
.pagefour-footerbar ul li h2{
    font-size: 3em;
    padding-bottom: 20px;
}

.pagefour-footerbar ul li i,
.pagefour-footerbar ul li span {
    color: #c7b299;
}

.pagefour-footerbar ul li h2 {
    color: white;
    font-weight: 400;
}

/* pagefour */

.pagefive-main h2 {
    font-size: 1.7em;
    padding-bottom: 20px;
}

.pagefive-main p {
    font-size: 1.1em;
    padding-bottom: 50px;
}

.pagefive-main {
    padding-bottom: 150px;
}

.pagefive-main-img h3 {
    font-size: 0.9em;
}

.pagefive-main-img p{
    font-size: 0.7em;
    padding-top: 10px;
}


/* pagefive */


.pagesix {
    width: 100%;
    background-image: url(img/partners_bg.jpg);
    background-position: center;
    height: 500px;
    display: table;
}

.pagesix-item {
    display: table-cell;
    vertical-align: middle;
}

.pagesix ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}